<div class="container">
  <h2>実施中</h2>
  <div class="content-box">
    <table class="table">
      <tbody>
        <% @plans.each do |plan| %>
          <tr>
            <td colspan="2" style="border:none;">
              <%= plan.title %>
            </td>
          </tr>
          <tr>
            <%= form_with  url: plan_week_enables_path(plan), local:true, method: :patch  do |f| %>
            <td style="border:none;">
              <%= collection_check_boxes(:plan, :week_ids, Week.all, :id, :name) do |b| %>

                <%= b.label { b.check_box(checked: plan.week_enables.find_by(week_id: b.object.id).checked) + b.text } %>
              <% end %>
            </td>
            <td style="border:none;">
              <% ratio = ((plan.week_enables.where(checked: true).count.to_f / 7) * 100).round(1)%>
              達成<%= ratio %>%
              <%= button_tag type: "submit", class: "btn btn-default" do %>
                <i class="fas fa-sync"></i>
              <% end %>
            </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>