<% if users.exists? %>
  <% users.each do |user| %>
    <table class='table'>
      <thead>
        <tr>
         <th>プロフィール画像</th>
        <th>ニックネーム</th>
        <th>性別</th>
        <th>年齢</th>
        <th>自己紹介</th>
        <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% if user.is_deleted != true %>
            <td><%= image_tag user.get_profile_image, size: '100x100' %></td>
            <td><%= link_to user.name, user_path(user.id) %></td>
            <td><%= user.gender_i18n %></td>
            <td><%= user.age %>歳</td>
            <td><%= user.introduction %></td>
            <td><%= link_to 'Show', user_path(user.id) %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>