<div class="content-box">
  <%= form_with model: training, local:true do |f| %>
  <div class="field row mb-3">
    <%= f.label :トレーニング名, class: 'col-md-2' %>
    <%= f.text_field :name, :size=>"40" %>
  </div>
  <div class="field row mb-3">
    <%= f.label :目標, class: 'col-md-2' %>
    <%= f.text_field :goal, :size=>"40" %>
  </div>
  <div class="form-group row mb-3">
    <%= f.label :内容, class: 'col-md-2' %>
    <%= f.text_area :introduction, :size=>"90x10" %>
  </div>
  <div class="actions">
    <%= f.submit 'アップロードする', class: 'btn btn-outline-success' %>
  </div>
<% end %>
</div>