<% trainings.each do |training| %>
  <div class="content-box">
    <div class="d-flex align-items-center">
      <%= link_to user_path(training.user.id),class: 'nav-link' do %>
        <%= image_tag training.user.get_profile_image, style: "border-radius: 50%; object-fit:cover;", size: '50x50' %>
      <% end %>
      <p class="font-weight-bold">
      <%= training.user.name %>
      </p>
    </div>
    <%= link_to training_path(training),class: 'nav-link', style: "color:black;" do %>
    <ul>
      <li class="font-weight-bold">トレーニング名</li>
      <li><%= training.name %></li>
    </ul>
    <ul>
      <li class="font-weight-bold">目標</li>
      <li><%= training.goal %></li>
    </ul>
    <ul>
      <li class="font-weight-bold">内容</li>
      <li><%= training.introduction %></li>
    </ul>
    <ul>
      <li id="like_btn_<%= training.id %>">
        <%= render 'public/likes/like', training: training %>
      </li>
      <li>
        <i class="far fa-comment"></i><%= training.training_comments.count %>
      </li>
    </ul>
    <% end %>
  </div>
  <% end %>

