<div class="container">
  <h2>トレーニング情報</h2>
  <div class="row">
    <%= link_to user_path(@training.user.id) do %>
      <%= image_tag @training.user.get_profile_image, style: "border-radius: 50%; object-fit:cover;", size: '50x50' %>
    <% end %>
    <p class="font-weight-bold"><%= @training.user.name %></p>
  </div>
  <% if @training.user == current_user %>
    <%= link_to "編集", edit_training_path, class: "btn btn-sm btn-success" %>
    <%= link_to "削除", training_path(@training), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
  <% end %>
  <div class='row'>
    <p class="font-weight-bold">トレーニング名<p><br>
      <%= @training.name %>
  </div>
  <div class="row">
    <p class="font-weight-bold">達成期間<p><br>
    <%= @training.goal %>
  </div>
  <div class="row">
    <p class="font-weight-bold">期待できる効果<p><br>
    <%= @training.result %>
  </div>
  <div class="row">
    <p class="font-weight-bold">内容<p><br>
    <%= @training.introduction %>
  </div>
  <div class="row">
    <p class="font-weight-bold">食生活</p><br>
    <%= @training.food %>
  </div>
  <div id="like_btn_<%= @training.id %>">
    <%= render 'public/likes/like', training: @training %>
  </div>
  <p>コメント件数<%= @training.training_comments.count %></p>
  <div id="comments-area"><%= render "public/training_comments/comment", training: @training %></div>
  <div id="comments-area"><%= render "public/training_comments/commentform", training: @training, training_comment: @training_comment %></div>
</div>