<div class="container">
  <h2>トレーニング情報</h2>
  <div class="content-box">
    <div class="d-flex align-items-center">
      <%= link_to user_path(@training.user.id) do %>
        <%= image_tag @training.user.get_profile_image, style: "border-radius: 50%; object-fit:cover;", size: '50x50' %>
      <% end %>
      <p class="font-weight-bold"><%= @training.user.name %></p>
    </div>
    <div class="nav-list">
      <% if @training.user == current_user %>
        <%= link_to edit_training_path,class: 'nav-link', style: "color:gray;" do %>
          <i class="fas fa-cog fa-lg"></i>
        <% end %>
        <%= link_to training_path(@training), method: :delete, data: { confirm: '本当に消しますか？' },class: 'nav-link', style: "color:gray;" do %>
          <i class="fas fa-trash-alt fa-lg"></i>
        <% end %>
      <% end %>
    </div>
    <ul>
      <li class="font-weight-bold">トレーニング名</li>
      <li><%= @training.name %></li>
    </ul>
    <ul>
      <li class="font-weight-bold">目標</li>
      <li><%= @training.goal %></li>
    </ul>
    <ul>
      <li class="font-weight-bold">内容</li>
      <li><%= simple_format(@training.introduction) %></li>
    </ul>
    <%= @training.created_at.strftime('%Y/%m/%d') %>
    <div id="like_btn_<%= @training.id %>">
      <%= render 'public/likes/like', training: @training %>
    </div>
  </div>
  <div class="comment-box">
    <h5><%= @training.training_comments.count %>件のコメント</h5>
    <div id="comments-area"><%= render "public/training_comments/comment", training: @training %></div>
    <div id="commentform-area"><%= render "public/training_comments/commentform", training: @training, training_comment: @training_comment %></div>
  </div>
</div>