<div class="container">
  <div class="chatroom">
    <h2><%= @user.name %>さんとのチャット</h2>

    <table class="table">
      <thead>
        <tr>
          <th style="text-align: left; font-size: 20px;"><%= current_user.name %></th>
          <th style="text-align: right; font-size: 20px;"><%= @user.name %></th>
        </tr>
      </thead>
    </table>
    <div class="message">
      <%= render partial: 'messages', locals: {chats: @chats} %>
    </div>
    <div class="errors">
      <%= render "layouts/errors", obj: @chat %>
    </div>
    <%= form_with model: @chat, data: {remote: true} do |f| %>
      <%= f.text_area :message, :size=>"30" %>
      <%= f.hidden_field :room_id %>
      <%= f.submit "SEND", class:"btn btn-sm btn-success chat-btn" %>
    <% end %>
  </div>
</div>
