<div class="content-box">
  <table class="table">
    <tbody>
      <tr>
        <td>
          <p>
            全体達成<%= select_tag 'name', options_for_select((0..100).to_a), include_blank: true %>%
            90%達成でレベルアップ　60%以上達成で継続　60%以下でレベルダウン、見直し
          </p>
        </td>
      </tr>
      <% enables.each do |enable| %>
        <tr>
          <td><%= enable.plan.id %></td>
          <td>
            <%= enable.plan.title %><br>
            <%= form_with model: enable, url: enable_path(enable), local:true, method: :post  do |f| %>
              <%= collection_check_boxes(:enable, :week_ids, Week.all, :id, :name) do |b| %>
                <%= b.label { b.check_box + b.text } %>
              <% end %>
            <% end %>
          </td>
          <td colspan="4"></td>
          <td>達成<%= select_tag 'name', options_for_select((0..100).to_a), include_blank: true %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>