<div class="content-box">
  <table class="table">
    <tbody>
      <tr>
        <td>
          <p>
            全体達成<%= select_tag 'name', options_for_select((0..100).to_a), include_blank: true %>%
            90%達成でレベルアップ　60%以上達成で継続　60%以下でレベルダウン、見直し
          </p>
        </td>
      </tr>
      <% enables.each do |enable| %>
        <tr>
          <td><%= enable.plan.id %></td>
          <td>
            <%= enable.plan.title %>
          </td>
          <%= form_with model: enable, url: enable_path(enable), local:true, method: :patch  do |f| %>
          <td>
            <%= collection_check_boxes(:enable, :week_ids, Week.all, :id, :name) do |b| %>
              <%= b.label { b.check_box + b.text } %>
            <% end %>
          </td>
          <td colspan="3"></td>
          <td>達成<%= select_tag 'ratio', options_for_select((0..100).to_a), include_blank: true %>%</td>
          <td>
            <%= button_tag type: "submit", class: "btn btn-default" do %>
              <i class="fas fa-sync"></i>
            <% end %>
          </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>