<div class="container">
  <div class='row'>
    <div class="content-box">
      <h3>通報一覧</h3>
      <% @reports.each do |report| %>
      <div class="content-box">
        <table class="table">
          <thead style="border:none;">
            <tr style="border:none;">
              <th style="border:none;">通報ID</th>
              <th style="border:none;">会員名</th>
              <th style="border:none;">通報者</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><%= report.id %></td>
                <td><%= report.reported.name %></td>
                <td><%= link_to report.reporter.name, admin_user_path(report.reporter.id) %></td>
              </tr>
          </tbody>
        </table>
        <div class="report_image">
          <% if report.image.attached? %>
            <%= image_tag report.image, size: "300x300" %>
          <% else %>
            <%= image_tag 'no_image', size: "300x300" %>
          <% end %>
        </div>
        <div class="introduction">
          <p class="font-weight-bold">理由</p>
          <%= report.reason %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>