<% trainings.each do |training| %>
  <div class="content-box">
    <div class="d-flex align-items-center">
        <%= image_tag training.user.get_profile_image, style: "border-radius: 50%; object-fit:cover;", size: '50x50' %>
      <p class="font-weight-bold">
      <%= training.user.name %>
      </p>
      <%= link_to "削除", admin_training_path(training), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
      <%= link_to edit_admin_user_path(training.user.id) do %>
        <i class="fas fa-exclamation-triangle"></i>
      <% end %>
    </div>
    <ul>
      <li class="font-weight-bold">トレーニング名</li>
      <li><%= training.name %></li>
    </ul>
    <ul>
      <li class="font-weight-bold">達成期間
      <li><%= training.goal %></li>
    </ul>
    <ul>
      <li class="font-weight-bold">期待できる効果</li>
      <li><%= training.result %></li>
    </ul>
    <ul>
      <li class="font-weight-bold">内容</li>
      <li><%= training.introduction %></li>
    </ul>
    <ul>
      <li class="font-weight-bold">食生活</li>
      <li><%= training.food %></li>
    </ul>
    
  </div>
  <% end %>