<table class="table">
  <thead>
    <tr>
      <th>プロフィール画像</th>
      <th>ニックネーム</th>
      <th>性別</th>
      <th>年齢</th>
      <th>自己紹介</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
    <tr>
      <td><%= image_tag user.get_profile_image, style: "border-radius: 50%; object-fit:cover;", size: '100x100' %></td>
      <td><%= link_to user.name, admin_user_path(user.id) %></td>
      <td><%= user.gender_i18n %></td>
      <td><%= user.age %>歳</td>
      <td><%= user.introduction %></td>
    </tr>
    <% end %>
  </tbody>
  </table>