<div class="container">
  <div class='row'>
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h2>会員情報を編集する</h2>
      <%= form_with model: @user, url: admin_user_path(@user.id), local:true do |f| %>
        <%= render 'layouts/errors', obj: @user %>
       
        <div class="form-group">
          <%= f.label :ユーザー情報 %>
          <%= f.radio_button :is_deleted, 'false' %>
          <%= f.label :is_deleted, '有効' %>
          <%= f.radio_button :is_deleted, 'true' %>
          <%= f.label :is_deleted, '凍結' %>
        </div>
        <div class="form-group">
          <%= f.submit "アップロード",class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>