<div class="container">
  <h2>会員情報</h2>
  <div class='row'>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>プロフィール画像</th>
            <th>ニックネーム</th>
            <th>メールアドレス</th>
            <th>性別</th>
            <th>年齢</th>
            <th>ユーザー情報</th>
            <th>自己紹介</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag @user.get_profile_image, style: "border-radius: 50%; object-fit:cover;", size: '100x100' %></td>
            <td><%= @user.name %></td>
            <td><%= @user.email %></td>
            <td><%= @user.gender_i18n %></td>
            <td><%= @user.age %>歳</td>
            <td>
              <% if @user.is_deleted == false %>
                <span class="text-success"><strong>有効</strong></span>
              <% elsif %>
                <span class="text-secondary"><strong>退会済</strong></span>
              <% end %>
            </td>
            <td><%= @user.introduction %></td>
            <td><%= link_to "編集", edit_admin_user_path %></td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>