<% visiter = notification.visiter %>
<% training = notification.training %>

<span>
  <% case notification.action %>
  <% when 'dm' %>
    <ul>
      <li>
        <%= link_to user_path(visiter), style: "color:#66CCCC;" do %>
          <%= image_tag visiter.get_profile_image, style: "border-radius: 50%; object-fit:cover;", size: '50x50' %>
          <%= visiter.name %>
        <% end %>さんからDMが来ました。
        <%= link_to chat_path(notification.visiter_id), style: "color:#66CCCC;" do %>
          <i class="fas fa-external-link-square-alt"></i>
        <% end %>
        <%= " (#{time_ago_in_words(notification.created_at)} 前)" %>
      </li>
    </ul>
  <% when 'training_comment' %>
    <ul>
      <li>
        <%= link_to user_path(visiter), style: "color:#66CCCC;" do %>
          <%= image_tag visiter.get_profile_image, style: "border-radius: 50%; object-fit:cover;", size: '50x50' %>
          <%= visiter.name %>
        <% end %>さんからコメントが来ました
        <%= link_to training_path(notification.training_id), style: "color:#66CCCC;" do %>
          <i class="fas fa-external-link-square-alt"></i>
        <% end %>
        <%= " (#{time_ago_in_words(notification.created_at)} 前)" %>
      </li>
    </ul>
  <% end %>
</span>

