<!DOCTYPE html>
<html>
  <head>
    <title>ExerciseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/sidebar' %>
    <main>
      <% if user_signed_in? %>
        <div class="search_form">
          <%= form_with url: search_path, local: true, method: :get do |f| %>
            <%= f.text_field :word %>
            <%= f.select :range, options_for_select([['User'], ['Training']]) %>
            <%= f.submit "検索", class: "btn btn-primaty" %>
          <% end %>
        </div>
      <% end %>
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </main>
  </body>
</html>
